@charset "utf-8";

/*header*/
#header{background:transparent;height:180px;}
.util_menu_wrap{background: #0044AF;}
.util_menu{width: 1200px;margin: 0 auto}
.util_menu .left{float: left;}
.util_menu .right{float: right;}

.util_menu .left li{float: left;width: 120px;margin-right:5px;}
.util_menu .left li a{
	display: block;line-height: 40px;
	text-align: center;background: #00163B;
	color:#fff;font-weight:bold;
}
.util_menu .left li a.active{background: #fff;color:#333;}
.util_menu .left li a:hover{background: #fff;color:#333;}

.util_menu .right li{float: left;color:#fff;font-size:0.8em;}
.util_menu .right li a{
	display: block;line-height:40px;padding: 0 10px;
	color:#fff;
}
.util_menu .right li.btn_mp a{
	float: left;background: #fff;color:#333;
	width:20px;height: 20px;line-height:20px;padding: 0;
	text-align:center;margin-right:2px;/*margin-top: 10px;*/
}
.util_menu .right li:first-child{line-height:40px;padding-right: 10px;}
.util_menu .right li:nth-child(2){padding-top:10px;}
.util_menu .right li:last-child a{padding-right:0;}

.gnb{background: #fff;width: 1200px;margin:0 auto;position: relative;}
.gnb .logo{float: left;position: absolute;left: 0;top:40px;}
.gnb .menu{float: right;position: absolute;right: 30px;top:30px;
		width:700px;bottom: 80px;}
.gnb .menu li{float: left; width: 120px;text-align: left;font-size:20px;
		font-weight: bold;}
.gnb .menu li>a{color:gray;}
/*contents*/
#contents{
	_height: 1300px;/*나중에 높이삭제*/
	background-image:url(../images/dot.png),url(../images/main_bg.jpg);
	background-repeat:repeat,no-repeat;
	background-position:center;
	background-size:auto,cover;
	padding-bottom:100px;

}
#contents .title .textWrap{float: left;width: 698px;margin-top:70px;}
#contents .title h2{color: white;font-weight: lighter;font-size: 40px;}
#contents .title h3{color: white;font-size: 60px;}
#contents .title{width: 1200px;height: 260px;background:transparent;margin: 0 auto; position: relative;}
#contents .iconWrap{float:right;width: 502px;margin-top: 70px;}
#contents .iconWrap li{float: left;width: 125.5px;color: white;text-align: center;}

.container .slider li{position: relative;}
.container .slider .sliderTxt{position: absolute;width: 400px;top:55px;left:75px;}
#contents .sliderTxt p{font-size:65px;color:#1650bb;}
#contents .sliderTxt span{font-weight: bold;}
#contents .container{width: 1200px;margin: 0 auto;background:#fff;}
#contents .container>ul>li{float: left;width:25%;height: 225px;position:relative;}
#contents .container>ul>li .txtbox1{background: #192d4e;width: 168px;margin-top: 20px;margin-left:10px;}
#contents .container ul li a{color: white;line-height: 40px;display: block;text-align: center;} 

.container .ptxt01{top:65px;left:45px;position: absolute;color:white;font-size:36px;}
.container .ptxt02{position: absolute;top:50%;left: 45px;color:white;font-size:18px;}
.container .ptxt01 span{font-weight: bold;}
.container .txtbox2{background: #192d4e;position: absolute; bottom:80px;left: 45px;width: 168px;border: 1px solid #ffff;opacity:0.6;}
.container .txtbox6{position: absolute;left: 50%;transform:translate(-50%);background: #000;margin-bottom: 0;
	bottom: 30px;margin: 0 auto;width: 100%;height:45px;} 
.container .txtbox6 p{color:white;text-align: center;padding: 10px;}	
#contents .container>ul>li:nth-child(2n){background:pink;}
#contents .container>ul>li:nth-child(1){width: 75%;height: 450px;background:gray;}
#contents .container>ul>li:nth-child(2){height: 450px;}
#contents .container>ul>li:nth-child(3){background: #00163b;}
#contents .container>ul>li:nth-child(4){background: #1651b7;}
#contents .container>ul>li:nth-child(5){}
#contents .container>ul>li:nth-child(6){}
#contents .container>ul>li:nth-child(7){}
#contents .container>ul>li:nth-child(8){width: 75%;}
