@charset "utf-8";
body{font-family: 'Nanum Gothic', sans-serif;}
/*header*/

#header{background:transparent;height:180px;}
.util_menu_wrap{background: #0044AF;}
.util_menu{width: 1200px;margin: 0 auto}
.util_menu .left{float: left;}
.util_menu .right{float: right;}

.util_menu .left li{float: left;width: 120px;margin-right:5px;}
.util_menu .left li a{
	display: block;line-height: 40px;
	text-align: center;background: #00163B;
	color:#fff;font-weight:bold;
}
.util_menu .left li a.active{background: #fff;color:#333;}
.util_menu .left li a:hover{background: #fff;color:#333;}

.util_menu .right li{float: left;color:#fff;font-size:0.8em;}
.util_menu .right li a{
	display: block;line-height:40px;padding: 0 10px;
	color:#fff;
}
.util_menu .right li.btn_mp a{
	float: left;background: #fff;color:#333;
	width:20px;height: 20px;line-height:20px;padding: 0;
	text-align:center;margin-right:2px;/*margin-top: 10px;*/
}
.util_menu .right li:first-child{line-height:40px;padding-right: 10px;}
.util_menu .right li:nth-child(2){padding-top:10px;}
.util_menu .right li:last-child a{padding-right:0;}

.gnb{background: #fff;width: 1200px;margin:0 auto;position: relative;}
.gnb .logo{float: left;position: absolute;left:0;top:38px;}
.gnb .menu{float: right;position: absolute;top:45px;width: 700px;right:20px}
.gnb .menu ul{float:left;}
.gnb .menu li{float: left; width: 120px;text-align:left;line-height:40px;font-size:17px;}
.gnb .menu img{display:block;width: 90px;height: 46px;float:right;}

/*contents*/

/*Slider*/
       .slider img{display: block;width: 100%;}

		.bx-wrapper{-moz-box-shadow:none;
			-webkit-box-shadow:none;
			box-shadow:none;
			border:none;
			background: #2d1e1e;
		}
		.bx-wrapper .bx-pager{
			bottom:30px;
		}
		.bx-wrapper .bx-pager.bx-default-pager a.active{
			background: #fff;
		}
		.bx-wrapper .bx-pager.bx-default-pager a{background: #f00;}
		.container{width: 900px;margin:0 auto}
#contents{
	_height: 1300px;/*나중에 높이삭제*/
	background-image:url(../images/dot.png),url(../images/main_bg.jpg);
	background-repeat:repeat,no-repeat;
	background-position:center;
	background-size:auto,cover;
	padding-bottom:100px;

}
#contents .title .textWrap{float: left;width: 698px;margin-top:70px;}
#contents .title h2{color: white;font-weight: lighter;font-size: 40px;}
#contents .title h3{color: white;font-size: 60px;}
#contents .title{width: 1200px;height: 260px;background:transparent;margin: 0 auto; position: relative;}
#contents .iconWrap{float:right;width: 502px;margin-top: 70px;}
#contents .iconWrap li{float: left;width: 125.5px;color: white;text-align: center;}

.container .slider li{position: relative;}
.container .slider .sliderTxt{position: absolute;width: 400px;top:55px;left:75px;}
#contents .sliderTxt p{font-size:65px;color:#1650bb;}
#contents .sliderTxt span{font-weight: bold;}
#contents .container{width: 1200px;margin: 0 auto;background:#fff;}
#contents .container>ul>li{float: left;width:25%;height: 225px;position:relative;}
#contents .container>ul>li .txtbox1{background: #192d4e;width: 168px;margin-top: 20px;margin-left:10px;}
#contents .container ul li a{color: white;line-height: 40px;display: block;text-align: center;} 

.container .ptxt01{top:65px;left:45px;position: absolute;color:white;font-size:36px;}
.container .ptxt02{position: absolute;top:50%;left: 45px;color:white;font-size:18px;}
.container .ptxt01 span{font-weight: bold;}
.container .txtbox2{background: #192d4e;position: absolute; bottom:80px;left: 45px;width: 168px;border: 1px solid #ffff;opacity:0.6;}
.container .txtbox li{}
.container .iconbox{margin:0 auto;width:198.34px;}
.container .iconbox li{width: 33.3%;float: left;text-align:center;margin-top:20px;margin-right:25px;}
.container .ptxt03{color:white;margin-left:20px;font-size: 20px;margin-top:30px;font-weight: bold;}
.container .iconbox{color:white;width:198.34px;margin: 0 auto;}
.container .iconbox li{margin-right:10px;width:59.44px;font-size:13px;}
.container .iconbox li:last-child{margin-right:0;}

.container .ptxt04{color:white;margin-top:10px;margin-left:20px;font-weight: bold;font-size:20px;} 
.container .txt3 {color:white;margin-left: 20px;font-size: 13px;width:170px;height: 110px;float: left;}
.container .txt3:before{content:"";display: block;width: 260px;height: 2px;background:white;margin-bottom: 20px;margin-top: 10px;}
.container .txt3 p{font-size: 13px;margin-bottom:0;}
.container .ptxt05{width: 110px;height: 110px;float: right;font-size: 13px;margin-top:30px;}
.container .ptxt05 p{color:white;text-align: center;}
.container .txt4{margin-left:15px;float: left;}
.container .txt4 img{margin-top:15px;display: block;}
.container .ptxt06{font-weight: bold;font-size: 22px;margin-top:25px;}
.container .ptxt07{float:right;width: 145px;font-size:14px;margin-top: 75px;margin-right:10px;}

.container .txtbox6{position: absolute;left: 50%;bottom:0;transform:translate(-50%);background: #000;
				width: 100%;height:45px;opacity: 0.8} 
.container .txtbox6 p{color:white;text-align: center;padding: 10px;font-size:17px;margin-top:0;font-weight: bold;}	
.container .ptxt08{position:relative;}

.container .ptxt09{font-weight:lighter;color:#fd503f;font-size:32px;} 
.container .ptxt10{color:#fd503f;font-size: 40px;font-weight: bold;margin-top:15px;}
.container .txtbox7{position:absolute;width:490px;top:20px;height: 86px;left: 20px;}
.container .txtbox8{background: #ff4538;width: 165px;position:absolute; bottom:50px;left: 35px;color: white;font-weight: bold;}
.container .txtbox8 p{text-align: center;margin:0 auto;line-height: 40px; }
.container .txtbox8 p{}
#contents .container>ul>li:nth-child(2n){_background:pink;}
#contents .container>ul>li:nth-child(1){width: 75%;height: 450px;background:464646;}
#contents .container>ul>li:nth-child(2){height: 450px;}
#contents .container>ul>li:nth-child(3){background: #00163b;}
#contents .container>ul>li:nth-child(4){background: #1651b7;}
#contents .container>ul>li:nth-child(5){}
#contents .container>ul>li:nth-child(6){}
#contents .container>ul>li:nth-child(7){}
#contents .container>ul>li:nth-child(8){width: 75%;}